/test/cocos2d-js-min.js
/dist
/coverage

/types/**/*
!/types/fy.d.ts
!/types/game.d.ts

/example-project/**/*
!/example-project/assets/**/*.ts
!/example-project/**/*.md
!/example-project/tsconfig.json

